@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
    font-size: 20px;
}

body {
    /* background-color: #FFF0F5; */
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center center;
    color: #000000;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 14px;
    }

h1, h2, h3, h4, h5, h6 {
    color: #9932CC;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    line-height: 1;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #4B0082;
}

h1 { 
    font-size: 2.5rem;
}

h2 { 
    font-size: 2rem;
}

h3 { 
    font-size: 1.5rem;
}

h4 { 
    font-size: 1.25rem;
}

h5 { 
    font-size: 1.1rem;
}

h6 { 
    font-size: 1rem;
}

.rainbow {
    font-weight: 100;
    padding: 30px 50px;
    display: block;
    color: white;
    text-align: center;
    text-shadow:
        1px 1px red,
        2px 2px orange,
        3px 3px yellow,
        4px 4px green,
        5px 5px blue,
        6px 6px indigo,
        7px 7px violet;
    font-family: cursive;
}

.glitch {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    padding: 20px 30px;
    display: inline-block;
    font-family: "Lexend", sans-serif;
    text-shadow:
        -2px 2px 0 #9932CC,
        -4px 4px 0 #4B0082;    
}

p {
    background-color: rgba(216, 191, 216, 0.8); 
    padding: 10px;
    border-radius: 6px;
    text-align: justify;
    line-height: 1.5;
    text-indent: 10px;
}
strong {
    background-color:#D8BFD8;
    color: #4B0082;
    text-decoration: underline;
    text-transform: uppercase;
}

.list {
    background-color: rgba(216, 191, 216, 0.8); 
    padding: 15px;
    border: 2px solid #4B0082;
    border-radius: 10px;
    margin-bottom: 30px;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 2px solid #4B0082;
    border-radius: 10px;
    padding: 80px 40px;
    margin: 40px auto; /* centrirano na stranici */
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

li {
    margin-bottom: 10px;
    padding: 6px;
    border: 1px dashed #4B0082;
    border-radius: 4px;
}

dt {
    font-weight: bold;
    margin-top: 15px;
    padding: 6px;
    border-left: 4px solid #4B0082;
    background-color: rgba(221,160,221, 0.4);
}

dd {
    margin-left: 30px;
    padding: 6px;
    border-left: 2px dashed #9932CC;
    background-color: rgba(255, 255, 255, 0.4);
}


