@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    background-color: cornsilk;
    color: black;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    }

h1 {
    color:brown;
    font-weight: 400;
    font-style: italic;
}

h2 {
    color: darkgreen;
    font-weight: 400;
    font-style: italic;
}

h3 {
    color: navy;
    font-weight: 400;
    font-style: italic;
}